*{
    margin: 0px;
}

#bg{
    border: 1px solid black;
    height: 99.5vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/03/21/07/16/learning-3245793_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#innerbg{
    border: 1px slid black;
    background-color: rgb(128, 128, 128,0.5);
    backdrop-filter: blur(2px);
    text-align: center;
    width: 600px;
    height: 320px;
    border-radius: 20px;
    position: relative;
    top: 160px;
    left: 380px;
    box-shadow: 0px 0px 8px 12px  grey;
}
#head{
    padding-top: 20px;
}
.inpt{
    margin-top: 10px;
    padding: 5px;
}
#semail{
    margin-left: 20px;
    margin-top: 15px;
}
#npswd{
    margin-left: 55px;
}
.fc{
    font-weight: bolder;
}
.link{
    text-decoration: none;
    font-weight: 10px;
    font-size: 16px;
    color:darkblue;
}

#img{
    display: inline;
   background-color:none;
    margin-left: -30px;
    position: relative;
    width: 23px;
    height: 23px;
    top: 7px;
    left:2px;
    border: none;
}


#btt{
    margin-top: px;
    width: 100px;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
}
#foot{
    padding-top: 25px;
    margin-left: 20px;
}
.link{
    color: darkred;
    text-decoration: none;
}
#p{
    position: absolute;
    top: 70px;
    left: 335px;
    color: red;
    display: none;
    
}
